<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.linuxtools.tmf.analysis.graph.core.staging.ExecGraphModule"
            id="org.eclipse.linuxtools.tmf.analysis.graph.core.graph.staging.ExecGraphModule"
            name="Exec Graph Module (SHT)">
         <tracetype
               applies_experiment="true"
               class="org.eclipse.linuxtools.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         id="org.eclipse.linuxtools.tmf.analysis.graph.core.staging.cli.main"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.linuxtools.tmf.analysis.graph.core.staging.cli.MainCLI">
         </run>
      </application>
   </extension>

</plugin>
